body{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
}
html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color: #101820 ;
}
.heading{
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	 text-transform: uppercase;
	 padding-bottom: 30px;
}
.colored_text{
	color: #F2AA4C;
}
.row{
	display: flex;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #F2AA4C;
  color: black;
  cursor: pointer;
  padding: 13px 16px;
  border-radius: 50%;
  opacity: 0.9;
}

#myBtn:hover {
 opacity: 1;
}
button{
	padding: 10px 20px;
	border-radius: 24px;
	border: 0;
	background-color: #F2AA4C;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

/*-  bignav  -*/
.bignav{
	background:url(images/heroimage1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}


/* -------------------------- navbar --------------------------- */
nav {
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.logo{
	font-family: 'Libre Baskerville', serif;
	font-size: 45px;
	cursor: pointer;
	color: #fff;
}
.nav_menu{
	display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav_item{
	margin: 10px 16px;
	cursor: pointer;
	font-size: 18px;
	opacity: 0.75;
}

.nav_colored{
	background-color: #F2AA4C;
	color: black;
	padding: 10px;
	border-radius: 3px;
}

.nav_item a:hover {
	color:  #F2AA4C ;
	filter: brightness(0.95);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 28px;
    height: 4px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #F2AA4C;
}

/* -------------------------- hero section --------------------------- */
.hero_section{
	padding:  0;
}
/*.hero_section img{	
	width: 100%;
	height: 90vh;
	object-fit: cover;
	filter: brightness(0.7);
}*/

.hero_section p{
	font-size: 54px;
	font-weight: 600;
	color: white;
	position: absolute;
	top: 30%;
	right: 10%;
}

/*video {
	object-fit: cover;
	width: 100vw;
	height: 80vh;
	opacity: 0.9;
  }
  */

/* -------------------------- about me --------------------------- */
.about_section{
	padding: 40px 0;
}
.about_img{
	width: 50%;
	padding: 30px;
}
.about_img img{
	width: 100%;
	height: 100%;
	border-radius: 0 20px 0 20px;
}
.about_text{
	width: 50%;
	font-size: 18px;
	padding: 20px 30px;
	line-height: 45px;
}
.about_row{
	margin: 10px 0;
}
.about_row a{
	margin-left: 10px;
	font-size: 22px;
}
/* -------------------------- services --------------------------- */
.service_section{
	padding: 50px 0;

}
.service_container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 60px;
}
.service{
	cursor: pointer;
	border: 1px solid white;
	padding: 25px 30px;
	margin: 15px;
	height: 30vh;
	width: 30vw;
	transition: background-color 0.5s;
	background-color: #a8a8a813;
}
.service  img{
	height: 50px;
	width: 50px;
}
.line{
	border-bottom: 2px solid rgb(141, 137, 137);
	margin-top: 20px;
	width: 20%;
	transition: width 2s;
}
.service_heading{
	font-size: 24px;
	font-weight: 500;
}
.service_text{
	font-size: 14px;
	opacity: 0.7;
}
.service:hover{
	background-color: #f2aa4cde;
}
.service:hover .line{
	width: 100%;
	border-color: #101820;	
}

/* -------------------------- works --------------------------- */


.work_section{
	padding: 20px 60px;
}
.work_container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.work{
	margin: 10px;
	width: 20vw;
	padding: 10px;
	text-align: center;
	background-color: #a8a8a813;
	cursor: pointer;
}
.work img{
	width: 100%;
	filter: brightness(0.85);
	transition: transform 1s;
}
.work:hover  img{
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1);
}
.work_text{
	text-align: center;
	font-size: 18px;
	margin-top: 40px;
}
.work_perference{
	margin-top: 40px;
	padding: 20px 0;
	background-color:  rgba(242, 170, 76, 0.21) ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.work_perference img{
	padding: 10px 30px;
	width:  100px;
	height: 100px;
}
/*----------------blogs------*/
.blog_section{
	padding: 20px 60px;
}
.blog_container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.blog{
	border-radius: 5px;
	margin: 20px 15px;
	width: 25vw;
	background-color: #a8a8a813;
}
.blog img{
	width: 100%;
	height: 80%;
}
.blog p{
	text-align: center;
	font-size: 18px;
}


/* -------------------------- gallery --------------------------- */

.gallery{
	padding: 20px 30px;
}
.gallery_row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	position: relative;
	width: 354px;
  height: 270px;
 margin: 10px 10px;
}
.container img {
  width: 100%;
  height: 270px;
 
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(242, 170, 76, 0.61);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* -------------------------- get in touch --------------------------- 

.contact{
	background-image: url("images/contact.png");
	padding: 30px;
}
.contact_row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact_row p{
	font-size: 18px;
	color: #706D6D;
}
.contact_row p a{
	color: #706D6D;
}
.contact_row input{
	outline: none;
	 padding: 12px 20px;
	border: 2px solid rgba(196, 196, 196, 0.51);
	background-color: rgba(196, 196, 196, 0.51);
	margin: 20px 0 ;
	 font-size:16px;
}
.big_input{
	width: 100%;
	height: 150px;
	outline: none;
	 padding: 12px 20px;
	border: 2px solid rgba(196, 196, 196, 0.51);
	background-color: rgba(196, 196, 196, 0.51);
	margin-bottom: 10px;
	 font-size:18px;

}

.contact_row button{
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 25px;
	width: 204px;
	height: 54px;
	background-color:  rgba(242, 170, 76, 0.78);
	border: 2px solid rgba(242, 170, 76, 0.78);
	font-size: 18px;
	cursor: pointer;
}
*/

/* -------------------------- footer --------------------------- */

footer{
	margin-top: 50px;
	padding: 30px;
	background-color: black;
	color: white;
	margin-top: 50px;
	position: relative;
}
.footer_first_row{
	height: 55vh;
	position: relative;
}
.footer_first_row img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.getintouch_card{
	position: absolute;
	top: -5%;
	right: 5%;
	border: 1px solid white;
	padding: 40px 80px;
	height: 50vh;
	background-color: #fff;
	color: #101820;
}
.getintouch_card div{
	margin: 30px 0;
}
.getintouch_card label{
	text-transform: capitalize;
	margin-right: 10px;
}
.getintouch_card input{
	border: none;
	border-bottom: 1px solid black;
	width: 100%;
	height: 20px;
	outline: none;
}
.footer_row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.footer_contain{
	height: 205px;
	width: 304px;
}

.footer_contain_heading{
	font-size: 24px;
}

.footer_contain i{
	font-size: 24px;
	padding: 0 5px;
	color: white;
}

.footer_contain a {
	color: white;
	opacity: 0.6;
}

.footer_text{
	font-size: 16px;
	opacity: 0.5;

}

.footer_text:hover {
	opacity: 1;
}
.footer_contain a:hover{
	opacity: 1;
}


/* --------- responsive ----- */

/* small labtop */
@media (max-width: 820px) {

	/* hamburger */

 .nav_menu {
        position: absolute;
        left: -120%;
        top: 0;
        flex-direction: column;
        background-color: #fff;
        width: 85%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.4s;
        z-index: 1;
        
    }

    .nav_menu.active {
        left: 0;

    }

    .nav_item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 1;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10.5px) rotate(50deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10.5px) rotate(-50deg);
    }
}


/* tablet */

@media (max-width: 720px) {

	.row{
		flex-direction: column;
	}
	.row img{
	width: 100%;
}
.about_text{
	padding: 0 30px 0 15px;
	font-size: 18px;
	line-height: 35px;
}
.service  img{
	height: 60px;
	width: 60px;
}
.container{
	height: 250px;
}
.container img{
	height: 250px;
}
.contact_row{
	flex-direction: column;
}
.big_input{
	width: 85vw;
}
.footer_row{
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	padding-left: 30px;
}
.footer_contain{
	width: 100%;
	height: 190px;
}
.works_link img{
	padding: 10px 30px;
}
.work_perference img{
	padding: 10px 15px;
	}
}



/*  mobile */

@media (max-width: 500px) 
{

	.logo{
		font-size: 42px;
	}
	nav{
		padding: 0 10px;
	}
	.hero_section p{
		font-size: 32px;
	position: absolute;
	top: 45%;
	right: 5%;
}
.heading{
	padding-bottom: 20px;
}
#myBtn{
	right: 15px;
}
.about_img, .about_text{
	width: 90%;
	padding: 10px;
}
.service_container,.work_container,.blog_container{
	flex-direction: column;
}
.service{
	width: 80vw;
	height: 25vh;
	padding: 15px 30px;
}
.work{
	margin: 10px;
	width: 80vw;
	padding: 10px;
	text-align: center;
	background-color: #a8a8a813;
	cursor: pointer;
}
.work_perference{
	margin-top: 40px;
	padding: 20px 0;
	background-color:  rgba(242, 170, 76, 0.21) ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.work_perference img{
	padding: 10px ;
	width:  50px;
	height: 50px;
}
.blog{
	border-radius: 5px;
	margin: 20px 15px;
	width: 70vw;
	background-color: #a8a8a813;
}
.blog img{
	width: 100%;
	height: 80%;
}
.blog p{
	text-align: center;
	font-size: 18px;
}
.gallery_row{
	flex-direction: column;
}
.footer{
	height: 150vh;
}
}